@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header
{
  margin-top: 10px;
  padding-top: 10px;

}

body {
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 100;
  left: 0;
  height: 100%;
  width: 100%;
  margin-bottom: 60px;
  background-color: #32be8f;
}

section {
  position: relative;
  z-index: 3;
  padding-top: 70px;
  padding-bottom: 40px;
}

.container {
  margin-top: 1px;
  max-width: 1080px;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;

}

.section-header {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.section-header h2 {
  color: rgb(28, 24, 24);
  font-weight: bold;
  font-size: 3em;
  justify-content: space-between;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  padding-inline-start: 100px;
  padding-inline-end: 100px;
  margin-bottom: 2px;
  padding-bottom: 20px;
  
}

.section-header p {
  color: rgb(18, 16, 16);
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #0070fa;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}



.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #0070fa;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #0070fa;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  background: linear-gradient(to right,#649bff,#0070fa,#649bff);;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}



 .menubtn{
  margin-right: 60px;
 }
 .menubtn .byn a
 {
   text-decoration: none;
   color: white;
   background: linear-gradient(to right,#649bff,#0070fa,#649bff);
 }
 
 
 
 .mainheader{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
 
 .mainheader .logo img{
  width: 250px; height: 70px;
  padding-left: 60px;
 }
 
 .mainheader nav{
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 370px;
  margin-top: 250px;
 }
 
 .mainheader nav a{
  text-decoration: none;
  color: #020202;
  text-transform: uppercase;
  margin-right: 100px;
 }
 
 .mainheader button{
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right,#090909,#090909,#090909);
  border-radius: 10px;
  margin-left: 100px;
  
 }
 
 .mainheader button a
 {
     color: #f4f9f7;
     padding: 1px;
     padding-left: 90px;
 }


.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}