body {
    background-color: #32be8f;
   
  }
  div.gallery {
    border: 1px solid #32be8f;
  }
  
  div.gallery:hover {
    border: 1px solid#32be8f;
  }
  
  div.gallery img {
    width: 366px;
    height: 280px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    margin-top: 15vh;
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .icon img {
          float: left;
          width: 100px;
          height: 100px;
          
          margin-left: 5%;
        }