
 .mainheader{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   }
   
   .mainheader .logo img{
    width: 250px; height: 70px;
    padding-left: 60px;
   }
   
   .mainheader nav{
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 370px;
   }
   
   .mainheader nav a{
    text-decoration: none;
    color: #020202;
    text-transform: uppercase;
    margin-right: 100px;
   }
   
   .mainheader button{
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right,#090909,#090909,#090909);
    border-radius: 10px;
    margin-left: 100px;
   }
   
   .mainheader button a
   {
       color: #f4f9f7;
       padding: 1px;
       padding-left: 90px;
   }

body{
    background-color: #32be8f;
    background-size:cover;
    background-image: url("drops.jpg");
   
  }
  #title{
  margin-right: 11vw;
  width: 5vw;
  }


  .nav{
      margin:0 auto;
      float: left;
      list-style-type:none;
      width: 11vw ;
      height: 2vw;
      background-color: rgb(10, 73, 112,0.7);
      color: white;
      padding: 0.5%;
     
  }

  header{
      display: block ;
      width: 100%;
      height: 7vh;
   
  }
  a{
      text-decoration: none;
  }
  a:link{
      color: inherit;
  }
  a:link:hover{
      color: inherit;
  }
  a:visited{
      color: inherit;
  }
  a:visited:hover{
  
      color: inherit;
  }
  .nav:hover,.nav:active{
      background-color: #d3d3d3;
  
      color: black;
  }
  .head1{
      
      color: rgb(10, 73, 112);
      font-family: 'Century Gothic';
      font-size: 60px;
      width: 40%;
      margin-left: 30%;
      text-align: center;
      margin-top: 2vh;
      padding: 5px;
  }
  .body1{
      background-color: #060606;
      background-origin: padding-box;
      color: #f2efef;
      font-size:x-large;
      width: 400px;
      margin-left:11.5%;
      margin-top: 1vh;
      margin-bottom: 1vh;
      text-align: center;
      padding: 60px;
      margin-bottom: 50px;
      padding-right: 60px;
      margin-left: 28%;
  
  }

  .navbar{
      margin-left: 200%;
  }
  
  
  *{
      font-family: 'Raleway', sans-serif;
 
  }
  
  footer {
      display: flex;
      justify-content: center;
      padding: 5px;
      margin-top: 1vh;
      background-color:rgb(10, 73, 112);
      color: #fff;
  }

  .header1 img {
      float: left;
      width: 100px;
      height: 100px;
      background: #555;
      margin-left: 5%;
    }

    button-3 {
      margin-top: 100px;
      text-align: center;
      text-decoration:none;
    }

    .head1{
        
      color: rgb(10, 73, 112);
      font-family: 'Century Gothic';
      font-size: 30px;
      width: 40%;
      margin-left: 30%;
      text-align: center;
      margin-top: 2vh;
      padding: 5px;
    }

    .body1 input 
    {
       margin-bottom: 20px; 
       display: inline;

    }

    .body1 select
    {
        margin-bottom: 20px; 
        display: inline;
    }